body {
    margin: 0;
    display: flex;
    font-family: Arial;
}

#map {
    height: 100vh;
    width: 75%;
}

.sidebar {
    width: 25%;
    background: #111827;
    color: white;
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #1e40af;
}

#report {
    margin-top: 15px;
    background: #1f2937;
    padding: 10px;
    min-height: 150px;
}
